<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zp.helloworld.dao.EmployeeMapper">

    <!--使用二级缓存-->
    <!--<cache/>-->

    <select id="getEmpByLastNameLikeReturnMap" resultType="com.zp.helloworld.entity.Employee">
        SELECT * FROM employee WHERE last_name LIKE CONCAT('%',#{lastName},'%')
    </select>

    <select id="getEmpByIdReturnMap" resultType="map">
        select * from employee where id=#{id}
    </select>

    <!-- public List<Employee> getEmpsByLastNameLike(String lastName); -->
    <!--resultType：如果返回的是一个集合，要写集合中元素的类型  -->
    <select id="getEmpsByLastNameLike" resultType="com.zp.helloworld.entity.Employee">
        select * from employee where last_name like #{lastName}
    </select>

    <!-- public Employee getEmpByMap(Map<String, Object> map); -->
    <select id="getEmpByMap" resultType="com.zp.helloworld.entity.Employee">
        select * from ${tableName} where id=${id} and last_name=#{lastName}
    </select>

    <!--  public Employee getEmpByIdAndLastName(Integer id,String lastName);-->
    <select id="getEmpByIdAndLastName" resultType="com.zp.helloworld.entity.Employee">
        select * from employee where id = #{id} and last_name=#{lastName}
    </select>


    <select id="getEmpById" resultType="com.zp.helloworld.entity.Employee" databaseId="mysql">
        select *
        from employee
        where id = #{id}
    </select>

    <select id="getEmpById" resultType="com.zp.helloworld.entity.Employee" databaseId="oracle">
        select *
        from employee
        where id = #{id}
    </select>

    <!--
        parameterType 可以省略
        获取自增主键的策略:
            mybatis 利用 statement.getGenreatedKeys() 获取生成的主键
            useGeneratedKeys="true",使用自增主键获取主键策略
            keyProperty:指定对应的主键应该封装给javaBean的哪个属性
    -->
    <insert id="addEmp" parameterType="com.zp.helloworld.entity.Employee"
            useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
      INSERT INTO employee(last_name,email,gender) VALUES (#{lastName},#{email},#{gender})
    </insert>

    <update id="updateEmpById" parameterType="com.zp.helloworld.entity.Employee">
        UPDATE employee SET LAST_NAME=#{lastName},EMAIL=#{email},GENDER=#{gender} WHERE ID=#{id}
    </update>

    <!-- public void updateEmp(Employee employee);  -->
    <update id="updateEmp">
        update tbl_employee
        set last_name=#{lastName},email=#{email},gender=#{gender}
        where id=#{id}
    </update>

    <!-- public void deleteEmpById(Integer id); -->
    <delete id="deleteEmpById">
        delete from tbl_employee where id=#{id}
    </delete>
</mapper>